<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/th.jpeg" alt="ServiceHub Logo" height="30" class="d-inline-block align-top me-2">
      ServiceHub
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="!currentUser; else loggedInMenu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              <i class="bi bi-person-plus me-1"></i>Register
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="bi bi-box-arrow-in-right me-1"></i>Login
            </a>
          </li>
        </ng-container>
        <ng-template #loggedInMenu>
          <li class="nav-item">
            <span class="nav-link">
              <i class="bi bi-person-circle me-1"></i>{{ currentUser?.username }}
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">
              <i class="bi bi-box-arrow-right me-1"></i>Logout
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
